<%-include('profile');-%>
<html>
<head>
<link rel="stylesheet" href="/views/style.css">
</head>
<body>
<center>
<form method="post" action="/login">
<div class="container">
<h1>Login</h1>
<input type="text" placeholder="Enter UserName" name="username"/><br/><br/>
<input type="password" placeholder="Enter Password" name="password"/><br/><br/>
<button type="submit" name="Login">Login</button>
</center>
</div>
</form>
</body>
</html>