<html>
<head>
<script src="/views/data.js"></script>
<link rel="stylesheet" href="/views/style.css">
</head>
<body>
<center>
<form method="post" action="users.js">
<div class="container">
<h1>Registration</h1>
<input type="text" placeholder="Enter FullName" name="fullname"/><br/>
<input type="text" placeholder="Enter Address" name="address"/><br/>
<input type="text" placeholder="Enter Mobile" name="mobile"/><br/>
<input type="email" placeholder="Enter EmailID" name="email"/><br/>
<input type="password" placeholder="Enter Password" name="password"/><br/>
<input type="password" placeholder="Enter Confirm Password" name="cpassword"/><br/>
<br/>
<button type="submit" name="submit">Submit</button>
</center>
</div>
</form>
</div>
</body>
</html>