<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<center>
<form>
<div class="container">
<h1>Registration</h1>
FullName <input type="text" name="fullname"/><br/>
Address  <input type="text" name="address"/><br/>
Mobile  <input type="text" name="mobile"/><br/>
EmailID  <input type="email" name="email"/><br/>
Password  <input type="password" name="password"/><br/>
Confirm <input type="password" name="cpassword"/><br/>
<br/>
<button type="submit" name="submit">Submit</button>
</center>
</div>
</form>
</div>
</body>
</html>